#projetos {
    display: flex;
    flex-direction: column;
    gap: 90px;
}

#projetos-texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#projetos .parag {
    font-size: 50px;
    font-weight: 400;
    max-width: 50%;
}

#projetos p {
    font-size: 25px;
    color: #E2E2E2;
}

#carousel-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#carousel {
    display: flex;
    align-items: center;
}

.carousel-track {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.carousel-track::-webkit-scrollbar {
    display: none;
}

.card {
    min-width: 400px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

#btns {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 1170px) {

    #projetos {
        gap: 50px;
    }

    #projetos .parag {
        max-width: 70%;
        font-size: 30px;
    }

    #projetos p {
        max-width: 80%;
        font-size: 16px;
        color: #E2E2E2;
    }

    .card {
        min-width: 200px;
        height: 200px;
    }
}