#modulos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #F8F8F8;
}

#modulos-header {
    display: flex;
    justify-content: space-between;
}

#modulos-tittles {
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
    gap: 50px;
    max-width: 100%;
    margin-bottom: 30px;
}

#modulos-tittles .tittle1 {
    max-width: 20%;
    font-size: 60px;
    font-weight: 500;
}

#modulos-tittles .tittle2 {
    max-width: 40%;
    font-size: 25px;
    font-weight: 500;
    color: #424242;
}

.modulos-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.modulos-card-tittle {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.modulos-card-tittle:hover {
    color: #4A563D;
    transition: 0.2s;
}

.modulos-card-tittle .tittle, i {
    font-size: 22px;
    font-weight: 500;
}

.modulos-card-description {
    max-height: 0;
    overflow: hidden;
    transition: 1s ease;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    max-width: 40%;
}

.modulos-card.active .modulos-card-description {
    max-height: 500px;
}

@media screen and (max-width: 1170px) {

    #modulos-tittles {
        max-width: 90%;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    #modulos-tittles .tittle1 {
        max-width: 70%;
        font-size: 40px;
    }

    #modulos-tittles .tittle2 {
        max-width: 100%;
        font-size: 22px;
    }

    .modulos-card-description {
        gap: 20px;
        font-size: 18px;
        max-width: 100%;
    }
}